
.inline-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 4px;
	margin-right: 5px;
	opacity: .5;
	background-color: currentColor;
}

.image-icon {
	mask-image: url(../../css/images/pictures.svg);
	mask-size: 20px 20px;
	mask-repeat: no-repeat;
	-webkit-mask-image: url(../../css/images/pictures.svg);
	-webkit-mask-size: 20px 20px;
	-webkit-mask-repeat: no-repeat;
}

.map-icon {
	mask-image: url(../../css/images/map.svg);
	mask-size: 20px 20px;
	mask-repeat: no-repeat;
	-webkit-mask-image: url(../../css/images/map.svg);
	-webkit-mask-size: 20px 20px;
	-webkit-mask-repeat: no-repeat;
}

.inline-image-library-thumbs,
.inline-video-library-thumbs {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.inline-image-library-thumbs li,
.inline-video-library-thumbs li {
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	text-align: center;
	margin: 0 10px 10px 0;
}

.inline-image-library-thumbs li img,
.inline-video-library-thumbs li img {
	display: inline;
	cursor: pointer;
	max-width: 60px;
	max-height: 60px;
}

.image-library-thumbs {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.image-library-thumbs li a {
	display: block;
	text-decoration: none;
	color: #333;
	line-height: 1;
	position: relative;
}

.image-library-thumbs li a:hover {
	color: #28e;
}

.image-library-thumbs li a:hover img {
	border: solid 2px #28e;
}

.image-library-thumbs li {
	display: block;
	width: 100px;
	height: 115px;
	float: left;
	text-align: center;
	margin: 0 15px 20px 0;
}

.image-library-thumbs li img {
	display: inline;
	cursor: pointer;
	max-width: 100px;
	max-height: 100px;
	border: solid 2px transparent;
}

.image-library-thumbs li span {
	display: block;
	cursor: pointer;
	height: 15px;
	padding: 2px;
	font-size: 10px;
	text-align: center;
}

.verse-images {
	clear: both;
	margin: 0 0 2em;
	overflow: hidden;
}

.verse-images h2 {
	text-align: left;
}

.big-image {
	position: absolute;
	z-index: 100;
}


.video-icon {
	mask-image: url(../../css/images/video.svg);
	mask-size: 20px 20px;
	mask-repeat: no-repeat;
	-webkit-mask-image: url(../../css/images/video.svg);
	-webkit-mask-size: 20px 20px;
	-webkit-mask-repeat: no-repeat;
}

.image-library-thumbs li span.media-video-play {
	position: absolute;
	display: block;
	top: 20px;
	left: 40px;
	background: transparent;
	width: 20px;
	height: 20px;
	background: transparent url(../../css/images/video-icon-overlay.svg) center center no-repeat;
}
