tests/
browserbible/public/content/texts/*.*
browserbible/public/content/lexicons/*
dist/
browserbible/public/content/texts/
!browserbible/public/content/texts/README.md

downloads/*

**/node_modules/
playwright-report/*
test-results/*
