#main-fullscreen-button {
	width: 32px;
	height: 32px;
	cursor: pointer;
	color: oklch(1 0 0);
}
#main-fullscreen-button svg {
	width: 100%;
	height: 100%;
}

.compact-ui #main-fullscreen-button {display: none;}