#app-logo {
	position: absolute;
	top: 0;
	left: 60px;
	height: 60px;
}

#main-menu-button {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	z-index: 9;
	border: solid 1px transparent;
	-x-border-width: 1px 1px 0 1px;
}
#main-menu-button svg {
	width: 26px;
	height: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-menu-button.active {
	background-color: var(--color-badge-background);
	-x-border-color: var(--color-border);
}

#main-menu-dropdown {
	width: 300px;
	position: absolute;
	z-index: 8;
	background: var(--color-menu-background);
	top: 59px;
	left: 0px;
	box-shadow: var(--shadow-popup);
}


#main-menu-dropdown[popover] {
	position: absolute;
	margin: 0;
	padding: 0;
	border: none;
	inset: unset;
	top: 59px;
	left: 0;
}

#main-menu-dropdown::backdrop {
	background: transparent;
}

.main-menu-heading {
	padding: 5px;
	background: var(--color-badge-background);
	color: var(--color-text-inverse);
	font-size: 0.8em;
	border-bottom: 1px solid var(--color-border-dark);
}

.main-menu-list {
	overflow: hidden;
}




.main-menu-item {
	cursor: pointer;
	width: 75px;
	margin: 0;
	padding: 35px 0 10px 0;
	text-align: center;
	font-family: var(--font-family-sans);
	font-size: 12px;
	float: left;
	color: var(--color-text);
	position: relative;
}

.main-menu-icon {
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translateX(-50%);
	width: 25px;
	height: 25px;
	color: var(--color-primary-light);
}

.main-menu-icon svg {
	width: 100%;
	height: 100%;
	display: block;
}


.main-menu-item:hover {
	-x-color: var(--color-primary);
	background-color: var(--color-menu-hover);
}



	.compact-ui #app-logo {
		display: none;
	}

	.compact-ui #main-menu-button {
		height: 40px;
		width: 40px;
		top: 0px;
	}

	.compact-ui #main-menu-dropdown {
		top: 40px;
	}
