#app-logo {
	height: 60px;
}

.main-menu-container {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1;
	position: relative;
}

#main-menu-button {
	cursor: pointer;
	position: relative;
	width: 32px;
	height: 32px;
	margin-right: auto;
}

#main-menu-button::before,
#main-menu-button::after,
#main-menu-button {
	background-image: linear-gradient(var(--color-header-icon), var(--color-header-icon));
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 2px;
}
#main-menu-button::before,
#main-menu-button::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 2px;
	left: calc(50% - 10px);
	background: var(--color-header-icon);
}
#main-menu-button::before {
	top: calc(50% - 7px);
}
#main-menu-button::after {
	top: calc(50% + 5px);
}
#main-menu-button.active {
	background-color: var(--color-badge-background);
	-x-border-color: var(--color-border);
}

#main-menu-dropdown {
	width: 300px;
	position: absolute;
	z-index: 8;
	background: var(--color-menu-background);
	top: 59px;
	left: 0px;
	box-shadow: var(--shadow-popup);
}

#main-menu-dropdown[popover] {
	position: absolute;
	margin: 0;
	padding: 0;
	border: none;
	inset: unset;
	top: 59px;
	left: 0;
}

#main-menu-dropdown::backdrop {
	background: transparent;
}

.main-menu-heading {
	padding: 5px;
	background: var(--color-badge-background);
	color: var(--color-text-inverse);
	font-size: 0.8em;
	border-bottom: 1px solid var(--color-border-dark);
}

.main-menu-list {
	overflow: hidden;
}

.main-menu-item {
	cursor: pointer;
	width: 75px;
	margin: 0;
	padding: 35px 0 10px 0;
	text-align: center;
	font-family: var(--font-family-sans);
	font-size: 12px;
	float: left;
	color: var(--color-text);
	position: relative;
}

.main-menu-icon {
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translateX(-50%);
	width: 25px;
	height: 25px;
	color: var(--color-primary-light);
}

.main-menu-icon svg {
	width: 100%;
	height: 100%;
	display: block;
}


.main-menu-item:hover {
	-x-color: var(--color-primary);
	background-color: var(--color-menu-hover);
}

	.compact-ui #app-logo {
		display: none;
	}

	.compact-ui #main-menu-button {
		height: 40px;
		width: 40px;
	}

	.compact-ui #main-menu-dropdown {
		top: 40px;
	}
