#main-forward-button,
#main-back-button {
	width: 32px;
	height: 32px;
	cursor: pointer;
	color: oklch(1 0 0);
}

#main-forward-button svg,
#main-back-button svg {
	width: 100%;
	height: 100%;
}

#main-back-button.inactive,
#main-forward-button.inactive  {
	color: oklch(1 0 0);
	opacity: 0.5;
	cursor: inherit;
}


	.compact-ui #main-back-button,
	.compact-ui #main-forward-button {
		display: none;
	}


#compact-back-button {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: var(--color-primary);
	color: var(--color-background);
	z-index: 1000;
	cursor: pointer;
}

.compact-back-icon {
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	width: 22px;
	height: 22px;
}

.compact-back-icon svg {
	width: 100%;
	height: 100%;
}
#compact-back-button-label {
	padding: 8px 8px 8px 30px;
	font-size: 10px;
}

.compact-ui #compact-back-button.active {
	display: block;
}
