#main-forward-button,
#main-back-button {
	width: 32px;
	height: 32px;
	cursor: pointer;
	color: var(--color-toolbar-text);
}

#main-forward-button svg,
#main-back-button svg {
	width: 100%;
	height: 100%;
}

#main-back-button.inactive,
#main-forward-button.inactive  {
	color: var(--color-toolbar-text);
	opacity: 0.5;
	cursor: inherit;
}


	.compact-ui #main-back-button,
	.compact-ui #main-forward-button {
		display: none;
	}


#compact-back-button {
	display: none;
	position: absolute;
	inset: auto 0 0 0;
	background: var(--color-primary);
	color: var(--color-background);
	z-index: var(--z-menu);
	cursor: pointer;
	align-items: center;
}

.compact-back-icon {
	margin-inline-start: 5px;
	width: 22px;
	height: 22px;
	flex-shrink: 0;
}

.compact-back-icon svg {
	width: 100%;
	height: 100%;
}
#compact-back-button-label {
	padding: 8px;
	font-size: 10px;
}

.compact-ui #compact-back-button.active {
	display: flex;
}
