

.deafbible .mt {
	margin-top: 1.5em;
}

.deafbible .s {
	margin-top: 0.5em;
}

.deafbible video{
	margin: 0 0 2em 0;
	width: 100%;
	height: auto;
	background: var(--color-toolbar-background);
}

.deafbible .inline-icon {
	display: none;
}



.deafbible .v {
	display: block;
}

.deafbible .selected-verse {
	background: none;
	color: var(--color-highlight);
}
.deafbible .selected-verse video {
	outline: 5px solid var(--color-highlight);
}

.deaf-video-header {
	width: 100%;
	display: flex;
	gap: 2%;
}

.deaf-video-header input[type=button] {
	flex: 1;
	margin: 2% 0;
	height: 58px;
	appearance: none;
	background-color: var(--color-background);
	border: solid 1px var(--color-border);
	cursor: pointer;
	background-repeat: no-repeat;
	text-align: right;
	padding: 10px;
	background-position-x: 10px;
}

.deaf-video-header input[type=button]:hover {
	background-color: var(--color-background-hover);
}
.deaf-video-header input[type=button].active {
	background-color: var(--color-primary);
	border-color: var(--color-border);
	color: var(--color-background);
	border: 0;
}


.deaf-video-header input[type=button].deaf-intro {
	background-image: url(//assets.bible.is/images/deaf/icon_door_intro.png);
}

.deaf-video-header input[type=button].deaf-story {
	background-image: url(//assets.bible.is/images/deaf/icon_door_story.png);
}

.deaf-video-header input[type=button].deaf-lessons {
	background-image: url(//assets.bible.is/images/deaf/icon_door_more_info.png);
}


.deaf-video-header input[type=button].deaf-intro.active {
	background-image: url(//assets.bible.is/images/deaf/icon_door_intro_active.png);
}

.deaf-video-header input[type=button].deaf-story.active {
	background-image: url(//assets.bible.is/images/deaf/icon_door_story_active.png);
}

.deaf-video-header input[type=button].deaf-lessons.active {
	background-image: url(//assets.bible.is/images/deaf/icon_door_more_info_active.png);
}
