.statistics-header {
	font-weight: bold;
	font-size: 120%;
	margin: 0 0 15px;
}

.statistics-content h3 {
	font-size: 90%;
}

.statistics-content .word {
	display: inline-block;
	padding: 2px 2px 2px 0;
	margin: 0 6px 2px 0;
    cursor: default;
}
.statistics-content .word:hover {
	background: var(--color-highlight);
}

.statistics-results {
	padding-left: 1em;
}

.statistics-wordcloud {
	max-width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}

.statistics-wordcloud span:hover {
	background: var(--color-highlight);
    cursor: default;
}
