.audio-controller {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: var(--color-header-background);
	border-top: solid 1px var(--color-border);
	padding: 5px;
	height: 60px;
	font-family: Avenir, Helvetica, Arial;
	font-size: 12px;
	z-index: 3; 
}

.audio-window-container .audio-controller {
	position: relative;
	bottom: inherit;
	left: inherit;
	margin: 30px 20px 20px;
	width: auto;
	background: transparent;
	height: 200px;
	border: none;
}

.audio-options {
	background: var(--color-background);
	border: solid 1px var(--color-border);
	position: absolute;
	bottom: 50px;
	left: 10px;
	width: 200px;
	padding: 10px;
	height: 100px;
	box-shadow: var(--shadow-popup);
	font-family: Avenir, Helvetica, Arial;
	font-size: 12px;
	z-index: 4;
}

.audio-options label {
	display: block;
}

.audio-options .audio-dramatic-option {
	margin-top: 5px;
}

.audio-options .audio-dramatic-option label {
	display: inline-block;
	margin-right: 10px;
}

.audio-options .close-button {
	top: 5px;
	right: 5px;
}

.audio-controller .audio-play,
.audio-controller .audio-prev,
.audio-controller .audio-next {
	border: none;
	background-color: var(--color-button-background);
	border-radius: 50px;
	text-indent: -9999px;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
}

.audio-controller .audio-play:hover,
.audio-controller .audio-prev:hover,
.audio-controller .audio-next:hover {
	background-color: var(--color-button-hover-background);
	cursor: pointer;
}


.audio-controller .audio-play {
	width: 40px;
	height: 40px;
	top: 15px;
	margin-left: -20px;
}

.audio-window-container .audio-controller .audio-play {
	width: 100px;
	height: 100px;
	margin-left: -50px;
	top: 40px;
}

.audio-controller .audio-play.playing {
}

.audio-window-container .audio-controller .audio-play.playing {
}

.audio-controller .audio-prev,
.audio-controller .audio-next {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	top: 20px;
}

.audio-controller .audio-prev {
	margin-left: -52px;
}

.audio-controller .audio-next {
	margin-left: 24px;
}

.audio-window-container .audio-controller .audio-prev,
.audio-window-container .audio-controller .audio-next {
	width: 60px;
	height: 60px;
	margin-top: 20px;
	top: 40px;
}
.audio-window-container .audio-controller .audio-prev {
	margin-left: -114px;
}

.audio-window-container .audio-controller .audio-next {
	margin-left: 54px;
}

.audio-controller .audio-currenttime,
.audio-controller .audio-duration,
.audio-controller .audio-options-button,
.audio-controller .audio-title,
.audio-controller .audio-subtitle {
	display: block;
	position: absolute;
	top: 25px;
}

.audio-controller .audio-currenttime {
	right: 50px;
}

.audio-controller .audio-duration {
	right: 10px;
}


.audio-controller .audio-title {
	top: 20px;
	left: 34px;
}

.audio-controller .audio-subtitle {
	top: 35px;
	left: 34px;
	font-size: 90%;
	color: var(--color-text-light);
}

.audio-controller .audio-options-button {
	left: 8px;
	width: 20px;
	height: 20px;
	border: none;
	box-shadow: none;
	background-color: transparent;
	cursor: pointer;
}

.audio-controller .audio-play svg { width: 25px; height: 25px; position: absolute; left: 8px; top: 50%; transform: translateY(-50%); }
.audio-window-container .audio-controller .audio-play svg { width: 70px; height: 70px; left: 15px; }
.audio-controller .audio-prev svg, .audio-controller .audio-next svg { width: 15px; height: 15px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.audio-window-container .audio-controller .audio-prev svg, .audio-window-container .audio-controller .audio-next svg { width: 30px; height: 30px; }
.audio-controller .audio-options-button svg { width: 20px; height: 20px; }

.audio-controller label {
	position: absolute;
	bottom: 0;
	left: 10px;
	display: none;
}

.audio-controller .audio-slider {
	background: var(--color-scrollbar-track);
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 100%;
}
.audio-window-container .audio-slider {

}

.audio-controller .audio-slider .audio-slider-current {
	background: var(--color-primary);
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
}

.audio-controller .audio-slider .audio-slider-loaded {
	background: var(--color-primary-light);
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
}

.audio-controller .audio-slider .audio-slider-handle {
	display: block;
	border-radius: 2px;
	border: solid 1px var(--color-border-dark);
	width: 16px;
	height: 14px;
	background: var(--color-scrollbar-thumb);
	position: absolute;
	top: -2px;
	left: 0;
	margin-left: -8px;
	cursor: ew-resize;
}
