	.compact-ui .SearchWindow .search-text {
		width: 100px;
	}



.search-main {
	background: var(--color-background);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.search-main .loading-indicator {
	min-height: 50px;
}

.search-header .search-text {
	width: 100px;
	min-width: inherit;
}

.search-wrapper {
	padding: 10px;
}

.search-top {
	position: sticky;
	top: -10px;
	z-index: 1;
	background: var(--color-background);
	padding-top: 10px;
}

.search-wrapper table {
	border-spacing: 0;
	border-collapse: collapse;
}

.search-wrapper table td,
.search-wrapper table th {
	padding: 3px;
}

.search-wrapper table th {
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-size: .8em;
}

.search-wrapper table td .note,
.search-wrapper table td .cf {
	display: none;
}

.search-wrapper table tr:hover {
	cursor: pointer;
	background-color: var(--color-primary-light);
}


.search-usage {
	margin: 0 0 20px;
	font-size: 12px;
}

.search-lemma-info .lemma-word {
	margin: 0;
}

.search-visual {
	height: 42px;
	border-bottom: solid 1px var(--color-border-dark);
	padding: 0 5px;
	margin-bottom: 25px;
	margin-top: 20px;
}

.search-visual-label {
	position: absolute;
	font-size: 10px;
	z-index: 1000;
	min-width: 50px;
	height: 20px;
	display: none;
	white-space: nowrap;
	padding: 2px 5px;
	background: var(--color-background);
	border: 1px solid var(--color-border);
	border-radius: 3px;
}

.search-result-book-bar {
	height: 40px;
	display: block;
	float: left;
	cursor: pointer;
}

.search-result-book-bar span {
	height: 40px;
	display: block;
	background: var(--color-border);
	border-right: solid 1px var(--color-background);
}

.search-options-button {
}

.search-division-chooser {
	position: absolute;
	background: var(--color-background);
	font-size: 80%;
	box-shadow: var(--shadow-popup);
	border: 1px solid var(--color-border, #ccc);
	margin: 0;
	inset: auto;
}
.search-division-chooser .search-division-header {
	color: var(--color-text-inverse);
	background: var(--color-background-active);
	padding: 8px;
	font-weight: bold;

}
.search-division-chooser .search-division-main {
	padding: 10px;
	max-height: 250px;
	overflow: auto;
}

.search-division-chooser .division-list {
	float: left;
	width: 33.33%;
}

.search-division-chooser .division-header {
	display: block;
	font-weight: bold;
}


.search-division-chooser .division-name {
	display: block;
	white-space: nowrap;
}

.search-division-chooser .division-list-items {
	padding: 0 0 0 5px;
}
.search-division-chooser[dir=rtl] .division-list-items {
	padding: 0 5px 0 0;
}



.search-result-book-bar span.divisionid-GN,
.search-result-book-bar span.divisionid-EX,
.search-result-book-bar span.divisionid-LV,
.search-result-book-bar span.divisionid-NU,
.search-result-book-bar span.divisionid-DT {
	background: var(--color-division-pentateuch);
}

.search-result-book-bar span.divisionid-JS,
.search-result-book-bar span.divisionid-JG,
.search-result-book-bar span.divisionid-RT,
.search-result-book-bar span.divisionid-S1,
.search-result-book-bar span.divisionid-S2,
.search-result-book-bar span.divisionid-K1,
.search-result-book-bar span.divisionid-K2,
.search-result-book-bar span.divisionid-R1,
.search-result-book-bar span.divisionid-R2,
.search-result-book-bar span.divisionid-ER,
.search-result-book-bar span.divisionid-NH,
.search-result-book-bar span.divisionid-ET {
	background: var(--color-division-historical);
}

.search-result-book-bar span.divisionid-JB,
.search-result-book-bar span.divisionid-PS,
.search-result-book-bar span.divisionid-PR,
.search-result-book-bar span.divisionid-EC,
.search-result-book-bar span.divisionid-SS,
.search-result-book-bar span.divisionid-LM {
	background: var(--color-division-wisdom);
}

.search-result-book-bar span.divisionid-IS,
.search-result-book-bar span.divisionid-JR,

.search-result-book-bar span.divisionid-EK,
.search-result-book-bar span.divisionid-DN {
	background: var(--color-division-major-prophets);
}

.search-result-book-bar span.divisionid-HS,
.search-result-book-bar span.divisionid-JL,
.search-result-book-bar span.divisionid-AM,
.search-result-book-bar span.divisionid-OB,
.search-result-book-bar span.divisionid-JH,
.search-result-book-bar span.divisionid-MC,
.search-result-book-bar span.divisionid-NM,
.search-result-book-bar span.divisionid-HK,
.search-result-book-bar span.divisionid-ZP,
.search-result-book-bar span.divisionid-HG,
.search-result-book-bar span.divisionid-ZC,
.search-result-book-bar span.divisionid-ML {
	background: var(--color-division-minor-prophets);
}


.search-result-book-bar span.divisionid-MT,
.search-result-book-bar span.divisionid-MK,
.search-result-book-bar span.divisionid-LK,
.search-result-book-bar span.divisionid-JN {
	background: var(--color-division-gospels);
}

.search-result-book-bar span.divisionid-AC {
	background: var(--color-division-acts);
}

.search-result-book-bar span.divisionid-RM,
.search-result-book-bar span.divisionid-C1,
.search-result-book-bar span.divisionid-C2,
.search-result-book-bar span.divisionid-GL,
.search-result-book-bar span.divisionid-EP,
.search-result-book-bar span.divisionid-PP,
.search-result-book-bar span.divisionid-CL,
.search-result-book-bar span.divisionid-H1,
.search-result-book-bar span.divisionid-H2,
.search-result-book-bar span.divisionid-T1,
.search-result-book-bar span.divisionid-T2,
.search-result-book-bar span.divisionid-TT,
.search-result-book-bar span.divisionid-PM {
	background: var(--color-division-paul-epistles);
}

.search-result-book-bar span.divisionid-HB,
.search-result-book-bar span.divisionid-JM,
.search-result-book-bar span.divisionid-P1,
.search-result-book-bar span.divisionid-P2,
.search-result-book-bar span.divisionid-J1,
.search-result-book-bar span.divisionid-J2,
.search-result-book-bar span.divisionid-J3,
.search-result-book-bar span.divisionid-JD {
	background: var(--color-division-general-epistles);
}

.search-result-book-bar span.divisionid-RV {
	background: var(--color-division-revelation);
}


.highlight {
	background: var(--color-highlight);
}

.search-progress-bar {
	border: solid 1px var(--color-border);
	height: 1.5em;
	width: 100%;
	position: relative;
	margin: 0 0 2em;
}

.search-progress-bar-inner {
	width: 0;
	background: var(--color-primary);
	height: 100%;
}

.search-progress-bar-label {
	display: block;
	position: absolute;
	height: 1.5em;
	line-height: 1.5em;
	font-size: .7em;
	top: 0;
	padding: 3px;
	color: var(--color-text-inverse);
	text-align: right;
}

.search-progress-bar-label-outside {
	color: var(--color-text);
}
